{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block modulecontent %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('areas') }}">Areas &amp; Positions</a> <span class="divider">/</span></li>
        <li><a href="{{ path('area_view', { 'id': entity.id }) }}">{{ entity.name }}</a> <span class="divider">/</span></li>
        <li class="active">Edit</li>
    </ul>
    <h3>{{ entity.name }}</h3>
    <div class="btn-group header-control">
        <form action="{{ path('area_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
        </form>
    </div>
    <hr>
    <form action="{{ path('area_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-pencil icon-white"></i> Save Changes</button>
            <a class="btn" href="{{ path('area_view', { 'id': entity.id }) }}">Back to Area</a>
        </div>
    </form>
</div>
{% endblock %}
