{% extends 'FlexSchedBundle:Dashboard:index.html.twig' %}
{% block title %}FlexSkedge - My Schedules{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>My Schedules</h3>
    <a class="btn btn-primary" href="{{ path('user_schedule_pre_new') }}">Add Schedule</a>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.schedulePeriod.startTime|date('M-d-Y') }}</td>
                <td>{{ entity.schedulePeriod.endTime|date('M-d-Y') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_schedule_view', { 'uid': entity.user.id, 'spid': entity.schedulePeriod.id }) }}"><i class="icon-eye-open icon-white"></i> View</a>
                    {% if entity.user.id == app.user.id %}
                    <a class="btn btn-primary" href="{{ path('user_schedule_edit', { 'id': entity.id }) }}"><i class="icon-pencil icon-white"></i> Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
