<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ appname }} - {{ get_controller_name()|capitalize }} {% if get_action_name() != 'index' %}- {{ get_action_name()|capitalize }}{% endif %}{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/schedule-table.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <footer>
            <div class="container">
                <p class="muted credit">Powered by OpenSkedge version {{ version }} &middot; Copyright &copy; 2012{% if "now"|date("Y") != "2012" %}-{{ "now"|date("Y") }}{% endif %} Max Fierke &middot; Licensed under the GNU GPL version 2 or later</p>
            </div>
        </footer>
    </body>
</html>
