<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ appname }} - Error - {{ status_code }}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="alert alert-error alert-block">
                <p><strong>Oops! An Error Occurred</strong></p>
                <p>The server returned a "{{ status_code }} {{ status_text }}".</p>
            </div>
        </div>
        <footer>
            <div class="container">
                <p class="muted credit">Powered by <a href="http://www.openskedge.org">OpenSkedge</a></p>
                <p class="muted credit">Copyright &copy; 2012-{{ "now"|date("Y") }} OpenSkedge contributors</p>
                <p class="muted credit">Licensed under the GNU GPL version 2 or later</p>
            </div>
        </footer>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
