{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/colorpicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/bootstrap.colorpicker.min.js') }}"></script>
<script type="text/javascript">$('#colorField').colorpicker();</script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ entity.name }}</h3>
    <div class="btn-group header-control">
        {% if app.user.id != entity.id and delete_form is defined %}
        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
        </form>
        {% endif %}
    </div>
    <hr>
    <form action="{{ path('user_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.username) }}
        {{ form_row(edit_form.password) }}
        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.workphone) }}
        {{ form_row(edit_form.homephone) }}
        {{ form_row(edit_form.location) }}
        {{ form_row(edit_form.email) }}
        {% if entity.id != app.user.id %}
        {{ form_row(edit_form.min) }}
        {{ form_row(edit_form.max) }}
        {% endif %}
        {{ form_row(edit_form.hours) }}
        {{ form_row(edit_form.notes) }}
        {% if is_granted('ROLE_ADMIN') %}
        {{ form_label(edit_form.color) }}
        <div id="colorField" class="input-append color" data-color="{{ edit_form.color.vars.value }}" data-color-format="hex">
            {{ form_widget(edit_form.color) }}
            <span class="add-on"><i style="background-color: {{ edit_form.color.vars.value }}"></i></span>
        </div>
        {% if entity.id != app.user.id %}
        {{ form_row(edit_form.supnotes) }}
        {{ form_row(edit_form.group) }}
        {{ form_row(edit_form.supervisors) }}
        <label class="checkbox">
            <h5>{{ form_widget(edit_form.isActive) }}{{ edit_form.isActive.vars.label }}</h5>
        </label>
        {% endif %}
        {% endif %}

        {{ form_rest(edit_form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-pencil icon-white"></i> Save Changes</button>
            <a class="btn" href="{{ path('user_view', { 'id': entity.id }) }}">Back</a>
        </div>
    </form>
</div>
{% endblock %}
