{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ appname }} - {{ userstitle }}{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function () {
    $(".table-sortable").tablesorter({theme:'oskedge',widgets:["uitheme"],headerTemplate:'{content} {icon}',sortList:[[0,0]],headers:{4:{sorter:false},5:{sorter:false},6:{sorter:false},7:{sorter:false}}});
});
</script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ userstitle }}</h3>
    {% if not displayonly|default(false) %}
    <a class="btn btn-primary header-control" href="{{ path('user_new') }}"><i class="icon-plus-sign icon-white"></i> Add User</a>
    {% endif %}
    <hr>
    {% if entities is empty %}
    <div class="alert">
        <strong>Sorry!</strong> {{ emptymsg }}
    </div>
    {% else %}
    <table class="table table-condensed table-sortable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Work Phone</th>
                <th>Home Phone</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('user_view', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.group.name }}</td>
                <td>{{ entity.workphone }}</td>
                <td>{{ entity.homephone }}</td>
                <td>{{ entity.location }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{ path('user_view', { 'id': entity.id }) }}"><i class="icon-eye-open icon-white"></i> View</a>
                        {% if is_granted('ROLE_ADMIN') or entity.id == app.user.id %}
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(paginator, 'twitter_bootstrap') }}
    </div>
    {% endif %}
</div>
{% endblock %}
