{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ app_brand_name() }} - {{ userstitle }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/colorpicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/bootstrap.colorpicker.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
    $(".table-sortable").tablesorter({theme:'oskedge',widgets:["uitheme"],headerTemplate:'{content} {icon}',sortList:[[0,0]],headers:{4:{sorter:false},5:{sorter:false},6:{sorter:false},7:{sorter:false}}});
    $('#colorField').colorpicker();
});
</script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ userstitle }}</h3>
    {% if not displayonly|default(false) %}
    <a class="btn btn-primary header-control" href="#newUser" role="button" class="btn" data-toggle="modal"><i class="icon-plus-sign icon-white"></i> Add User</a>
    {% endif %}
    <hr>
    {% if entities is empty %}
    <div class="alert">
        <strong>Sorry!</strong> {{ emptymsg }}
    </div>
    {% else %}
    <table class="table table-condensed table-sortable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Work Phone</th>
                <th>Home Phone</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('user_view', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.group.name }}</td>
                <td>{{ entity.workphone }}</td>
                <td>{{ entity.homephone }}</td>
                <td>{{ entity.location }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{ path('user_view', { 'id': entity.id }) }}"><i class="icon-eye-open icon-white"></i> View</a>
                        {% if is_granted('ROLE_ADMIN') or entity.id == app.user.id %}
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(paginator, 'twitter_bootstrap') }}
    </div>
    {% endif %}
</div>
{% if not displayonly|default(false) %}
<div id="newUser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newUserLabel" aria-hidden="true">
    <form action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }}>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myUserLabel">Add User</h3>
      </div>
      <div class="modal-body">
        {% include 'OpenSkedgeBundle:User:new_form_fields.html.twig' %}
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Back to Users</button>
        <button type="submit" class="btn btn-primary">Add User</button>
      </div>
    </form>
</div>
{% endif %}
{% endblock %}
