{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/colorpicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/bootstrap.colorpicker.min.js') }}"></script>
<script type="text/javascript">$('#colorField').colorpicker();</script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>Create a New User</h3>
    <form action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }}>
        {% include 'OpenSkedgeBundle:User:new_form_fields.html.twig' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create User</button>
            <a class="btn" href="{{ path('users') }}">Back to Users</a>
        </div>
    </form>
</div>
{% endblock %}
