{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ app_brand_name() }} - {{ entity.name }}{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ entity.name }}</h3>
    {% if app.user.id == entity.id %}
    <div class="btn-group header-control">
        <a class="btn" href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a>
    </div>
    {% elseif is_granted('ROLE_ADMIN') %}
    <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
    <div class="btn-group header-control">
        <a class="btn" href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a>
        {% if app.user.id != entity.id and delete_form is defined %}
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
        {% endif %}
    </div>
    </form>
    {% endif %}
    <div class="btn-group header-control">
        <a class="btn btn-info" href="{{ path('user_schedules', { 'id': entity.id }) }}">Schedules</a>
        <a class="btn btn-info" href="{{ path('user_positions', { 'id': entity.id }) }}">Positions</a>
        <a class="btn btn-info" href="{{ path('user_supervisors', { 'id': entity.id }) }}">Supervisors</a>
        <a class="btn btn-info" href="{{ path('user_employees', { 'id': entity.id }) }}">Employees</a>
    </div>
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ entity.group.name }}</td>
            </tr>
            {% if entity.workphone %}
            <tr>
                <th>Work Phone</th>
                <td>{{ entity.workphone }}</td>
            </tr>
            {% endif %}
            {% if entity.homephone %}
            <tr>
                <th>Home Phone</th>
                <td>{{ entity.homephone }}</td>
            </tr>
            {% endif %}
            {% if entity.location %}
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            {% if entity.min %}
            <tr>
                <th>Minimum Hours</th>
                <td>{{ entity.min }}</td>
            </tr>
            {% endif %}
            {% if entity.max %}
            <tr>
                <th>Maximum Hours</th>
                <td>{{ entity.max }}</td>
            </tr>
            {% endif %}
            {% if entity.hours %}
            <tr>
                <th>Requested Hours</th>
                <td>{{ entity.hours }}</td>
            </tr>
            {% endif %}
            {% if entity.notes %}
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            {% if entity.supnotes %}
            <tr>
                <th>Supervisor Notes</th>
                <td>{{ entity.supnotes }}</td>
            </tr>
            {% endif %}
            {% endif %}
            <tr>
                <th>Color</th>
                <td><span class="label" style="background-color: {{ entity.color }};">{{ entity.color }}</span></td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if entity.isactive == 1 %}yes{% else %}no{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
