{% block subject %}
{% autoescape false %}
[{{ app_brand_name() }}] {{ shift.user.name }} has posted a shift
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Hey there,

This is just a notification email to let you know that {{ shift.user.name }} has a posted their {{ shift.position.name }} - {{ shift.position.area.name }} shift from {{ shift.startTime|date('Y-m-d g:i A') }} to {{ shift.endTime|date('Y-m-d g:i A') }} to the shift trading area of {{ app_brand_name() }}.

Details:

{{ shift.notes }}

{{ app_brand_name() }} Management
----
This is an automated email sent by OpenSkedge. Do NOT respond to this email. You will not get a reply.
{% endautoescape %}
{% endblock %}
{% block body_html %}
Hey there,<br />
<br />
<p>This is just a notification email to let you know that <a href="{{ path('user_view', {'id': shift.user.id }) }}">{{ shift.user.name }}</a> has posted their {{ shift.position.name }} - {{ shift.position.area.name }} shift from {{ shift.startTime|date('Y-m-d g:i A') }} to {{ shift.endTime|date('Y-m-d g:i A') }} to the shift trading area of {{ app_brand_name() }}.</p><br />
<br />
<strong>Details</strong><br />
<pre>{{ shift.notes }}</pre><br />
<br />
{{ app_brand_name() }} Management<br />
----<br />
This is an automated email sent by OpenSkedge. Do NOT respond to this email. You will not get a reply.
{% endblock %}
