{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% if resolution == "15 mins" %}{% set sectiondiv = 1 %}{% elseif resolution == "30 mins" %}{% set sectiondiv = 2 %}{% else %}{% set sectiondiv = 4 %}{% endif %}
{% block javascripts %}
<script type="text/javascript">
    var sectiondiv={{ sectiondiv }};
</script>
<script src="{{ asset('js/scheduleEdit.js') }}"></script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>Schedule for {{ avail.schedulePeriod.startTime|date('M-d-Y') }} to {{ avail.schedulePeriod.endTime|date('M-d-Y') }}</h3>
    <form action="{{ path('user_schedule_edit', { 'spid': avail.schedulePeriod.id }) }}" method="post" name="scheduleform">
        <table class="table table-condensed table-bordered schedule-table">
            <tr>
                <td class="p0"><input type="radio" name="priority" value="0"> Unavailable</td>
                <td class="p1"><input type="radio" name="priority" value="1"> Low Preference</td>
                <td class="p2"><input type="radio" name="priority" value="2"> Medium Preference</td>
                <td class="p3"><input type="radio" name="priority" value="3" checked> High Preference</td>
            </tr>
        </table>
        <input type="hidden" id="day0" size="108" name="day[]" value="{{ avail.sun }}">
        <input type="hidden" id="day1" size="108" name="day[]" value="{{ avail.mon }}">
        <input type="hidden" id="day2" size="108" name="day[]" value="{{ avail.tue }}">
        <input type="hidden" id="day3" size="108" name="day[]" value="{{ avail.wed }}">
        <input type="hidden" id="day4" size="108" name="day[]" value="{{ avail.thu }}">
        <input type="hidden" id="day5" size="108" name="day[]" value="{{ avail.fri }}">
        <input type="hidden" id="day6" size="108" name="day[]" value="{{ avail.sat }}">
        {% include 'OpenSkedgeBundle:Schedule:userschedule.html.twig' %}
        <button class="btn btn-primary" type="submit" name="save">Save Schedule</button> <a class="btn" href="{{ path('user_schedule_view', { 'uid': avail.user.id, 'spid': avail.schedulePeriod.id }) }}">Back</a>
    </form>
</div>
{% endblock %}
