{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ appname }} - {{ avail.user.name }} - Schedule for {{ avail.schedulePeriod }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style type="text/css">
h3,
form,
#form {
    display: inline;
}
h3 {
    margin-right: 10px;
}
.btn-group {
    top: -4px;
}
</style>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ avail.user.name }}'s schedule for {{ avail.schedulePeriod.startTime|date('M-d-Y') }} to {{ avail.schedulePeriod.endTime|date('M-d-Y') }}</h3>
    {% if avail.user.id == app.user.id %}
    <form action="{{ path('user_schedule_delete', { 'uid': avail.user.id, 'spid': avail.schedulePeriod.id }) }}" method="post">
    <div class="btn-group-header btn-group">
        <a class="btn" href="{{ path('user_schedule_edit', { 'spid': avail.schedulePeriod.id }) }}"><i class="icon-pencil"></i> Edit</a>
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
    </div>
    </form>
    {% endif %}
    <hr>
    <table class="table table-condensed table-bordered schedule-table">
            <tr>
                <td class="p0">Unavailable</td>
                <td class="p1">Low Preference</td>
                <td class="p2">Medium Preference</td>
                <td class="p3">High Preference</td>
            </tr>
    </table>
    {% include 'OpenSkedgeBundle:Schedule:userschedule.html.twig' %}
</div>
{% endblock %}
