{% spaceless %}
{% if resolution == "15 mins" %}
{% set sectiondiv = 1 %}
{% set sectionlen = 95 %}
{% set next_section = "+15 minutes" %}
{% elseif resolution == "30 mins" %}
{% set sectiondiv = 2 %}
{% set sectionlen = 47 %}
{% set next_section = "+30 minutes" %}
{% else %}
{% set sectiondiv = 4 %}
{% set sectionlen = 23 %}
{% set next_section = "+1 hour" %}
{% endif %}
{% endspaceless %}
<table class="table table-condensed table-bordered schedule-table">
    <thead>
        <tr>
            <th></th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
{% for i in 0..sectionlen %}
        <tr>
            <td>{{ htime|date("g:i a") }}</td>
        {% for j in 0..6 %}
        <td id="cell-{{ i * sectiondiv }}-{{ j }}" {% if week[j][i * sectiondiv] == '1' %}class="p1"{% elseif week[j][i * sectiondiv] == '2' %}class="p2"{% elseif week[j][i * sectiondiv] == '3' %}class="p3"{% else %}class="p0"{% endif %}{% if edit_form|default(false) or create|default(false) %} onmouseover="hilitecell(this);" onmouseout="unhilitecell(this);" onclick="setcell(this,{{ i * sectiondiv }}, {{ j }});"{% endif %}>
        {% if create|default(false) and schedules is defined %}
            {% for schedule in schedules %}
                {% if schedule[j][i * sectiondiv] == '1' %}{{ positions[loop.index0].name }}{% endif %}
            {% endfor %}
        {% endif %}
        </td>
        {% endfor %}{% set htime = htime|date_modify(next_section) %}
    </tr>
{% endfor %}
{% if edit_form|default(false) or create|default(false) %}
<tr>
    <td></td>
    <td><a href="#" onclick="return fillDay(0);">Fill</a></td>
    <td><a href="#" onclick="return fillDay(1);">Fill</a></td>
    <td><a href="#" onclick="return fillDay(2);">Fill</a></td>
    <td><a href="#" onclick="return fillDay(3);">Fill</a></td>
    <td><a href="#" onclick="return fillDay(4);">Fill</a></td>
    <td><a href="#" onclick="return fillDay(5);">Fill</a></td>
    <td><a href="#" onclick="return fillDay(6);">Fill</a></td>
</tr>
{% endif %}
    </tbody>
</table>
