{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ app_brand_name() }} - {{ position.area.name }} - {{ position.name }} schedule for {{ schedulePeriod }}{% endblock %}
{% if resolution == "15 mins" %}{% set sectiondiv = 1 %}{% set next_section = "+15 minutes" %}{% elseif resolution == "30 mins" %}{% set sectiondiv = 2 %}{% set next_section = "+30 minutes" %}{% else %}{% set sectiondiv = 4 %}{% set next_section = "+1 hour" %}{% endif %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    var sectiondiv = {{ sectiondiv }};
    //-- every time a checkbox is pressed then this function is called
    //-- it updates the total hours for each employee and makes sure that
    //-- they will not be scheduled for more than their maximum allowed hours
    //-- the miss count is used to remind the supervisor that there is a reason
    //-- the box isn't being checked and to stop trying to check it
    miss_count = 0;
    $('input[type=checkbox]').change(function () {
        uid = $(this).val();
        totalhours = $('#u'+uid+'_total');
        maxhours = $('#u'+uid+'_max');
        total = parseInt(totalhours.text());
        max = parseInt(maxhours.text());
        console.log('Checkbox for use with UID: '+uid+' state changed. (Total: '+total+', Max: '+max+')');
        if (this.checked) {
            console.log('Checkbox has been checked.');
            if (total < max) {
                totalhours.text(parseFloat(totalhours.text()) + (0.25 * sectiondiv));
            } else {
                this.checked = false;
                miss_count++;
                if (miss_count > 2) {
                    alert('Maximum number of hours reached for that employee (UID: '+uid+')');
                    miss_count = 0;
                }
            }
        } else if (!this.checked || totalhours.text() > 0) {
            totalhours.text(parseFloat(totalhours.text()) - (0.25 * sectiondiv));
        }
        return;
    });
});
</script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('areas') }}">Areas &amp; Positions</a> <span class="divider">/</span></li>
        <li><a href="{{ path('area_view', { 'id': position.area.id }) }}">{{ position.area.name }}</a> <span class="divider">/</span></li>
        <li><a href="{{ path('position_view', { 'id': position.id }) }}">{{ position.name }}</a> <span class="divider">/</span></li>
        <li><a href="{{ path('position_schedule_view', { 'pid': position.id, 'spid': schedulePeriod.id }) }}">Schedule for {{ schedulePeriod }}</a> <span class="divider">/</span></li>
        <li class="active">Edit</li>
    </ul>
    <h3>Editing {{ position.area.name }} - {{ position.name }} schedule for {{ schedulePeriod }}</h3>
    <hr>
    <form id="timeresolution" class="form-inline inline header-control" action="{{ path('position_schedule_edit', { 'pid': position.id, 'spid': schedulePeriod.id }) }}" method="get">
        {% include 'OpenSkedgeBundle:ModularBlocks:timeresolution.html.twig' %}
    </form>
    <form action="{{ path('position_schedule_edit', { 'pid': position.id, 'spid': schedulePeriod.id }) }}" method="post" name="scheduleform">
        <input type="hidden" name="sectiondiv" value="{{ sectiondiv }}">
        <table class="table table-condensed table-bordered schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>{% for i in (startIndex/sectiondiv)..(endIndex/sectiondiv) %}
                <tr>
                    <td>{{ htime|date("g:i a", false) }}</td>
                {% for j in 0..6 %}
    {% spaceless %}
                    <td>
                    {% for avail in availData %}
                        {% if avail.gen.getDayOffset(j, (i * sectiondiv)) != '1' and avail.schedule.getDayOffset(j, (i * sectiondiv)) != 0 %}
                        <div class="avail-user" style="background-color: {{ avail.gen.user.color }}">
                            <input type="checkbox" name="hour-{{ i * sectiondiv}}-{{ j }}[]" value="{{ avail.gen.user.id }}"{% if avail.gen.getDayOffset(j, (i * sectiondiv)) == '2' %} checked{% endif %} /><a href="{{ path('user_schedule_view', { 'uid': avail.gen.user.id, 'spid': schedulePeriod.id })}}" target="_blank">P{{ avail.schedule.getDayOffset(j, (i * sectiondiv)) }} - {{ avail.gen.user.name }}</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>{% endspaceless %}
                {% endfor %}{% set htime = htime|date_modify(next_section) %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-pencil icon-white"></i> Save Schedule</button>
            <a class="btn" href="{{ path('position_schedule_view', { 'pid': position.id, 'spid': schedulePeriod.id }) }}">Back to Schedule</a>
        </div>
    </form>
</div>
{% endblock %}
{% block sidebar %}
<section id="hourcounts" class="well">
    <table class="table table-condensed">
        <thead>
            <th>Employee</th>
            <th>Total Hours</th>
            <th>Maximum Hours</th>
        </thead>
        <tbody>
    {% for avail in availData %}
            <tr>
                <td>{{ avail.gen.user.name }}</td>
                <td><span class="badge badge-info" id="u{{ avail.gen.user.id }}_total">{{ avail.totalHours }}</span></td>
                <td id="u{{ avail.gen.user.id }}_max">{{ avail.gen.user.max }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
