{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ app_brand_name() }} - {{ position.area.name }} - {{ position.name }} schedule for {{ schedulePeriod }}{% endblock %}
{% if resolution == "15 mins" %}
{% set sectiondiv = 1 %}
{% set sectionlen = 95 %}
{% set next_section = "+15 minutes" %}
{% elseif resolution == "30 mins" %}
{% set sectiondiv = 2 %}
{% set sectionlen = 47 %}
{% set next_section = "+30 minutes" %}
{% else %}
{% set sectiondiv = 4 %}
{% set sectionlen = 23 %}
{% set next_section = "+1 hour" %}
{% endif %}
{% block modulecontent %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('areas') }}">Areas &amp; Positions</a> <span class="divider">/</span></li>
        <li><a href="{{ path('area_view', { 'id': position.area.id }) }}">{{ position.area.name }}</a> <span class="divider">/</span></li>
        <li><a href="{{ path('position_view', { 'id': position.id }) }}">{{ position.name }}</a> <span class="divider">/</span></li>
        <li><a href="{{ path('position_schedule_view', { 'pid': position.id, 'spid': schedulePeriod.id }) }}">Schedule for {{ schedulePeriod }}</a> <span class="divider">/</span></li>
        <li class="active">Edit</li>
    </ul>
    <h3>Editing {{ position.area.name }} - {{ position.name }} schedule for {{ schedulePeriod }}</h3>
    <form id="timeresolution" class="form-inline inline header-control" action="{{ path('position_schedule_edit', { 'pid': position.id, 'spid': schedulePeriod.id }) }}" method="get">
        {% include 'OpenSkedgeBundle:ModularBlocks:timeresolution.html.twig' %}
    </form>
    <hr>
    <form action="{{ path('position_schedule_edit', { 'pid': position.id, 'spid': schedulePeriod.id }) }}" method="post" name="scheduleform">
        <input type="hidden" name="sectiondiv" value="{{ sectiondiv }}">
        <table class="table table-condensed table-bordered schedule-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>{% for i in 0..sectionlen %}
                <tr>
                    <td>{{ htime|date("g:i a", false) }}</td>
                {% for j in 0..6 %}
    {% spaceless %}
                    <td>
                    {% for avail in availData %}
                        {% if avail.gen.week[j][i * sectiondiv] != '1' and avail.schedule.week[j][i * sectiondiv] != 0 %}
                        <div class="avail-user" style="background-color: {{ avail.gen.user.color }}">
                        <input type="checkbox" name="hour-{{ i * sectiondiv}}-{{ j }}[]" value="{{ avail.gen.user.id }}"{% if avail.gen.week[j][i * sectiondiv] == '2' %} checked{% endif %} /><a href="{{ path('user_schedule_view', { 'uid': avail.gen.user.id, 'spid': schedulePeriod.id })}}" target="_blank">P{{ avail.schedule.week[j][i * sectiondiv] }} - {{ avail.gen.user.name }}</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>{% endspaceless %}
                {% endfor %}{% set htime = htime|date_modify(next_section) %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-pencil icon-white"></i> Save Schedule</button>
            <a class="btn" href="{{ path('position_schedule_view', { 'pid': position.id, 'spid': schedulePeriod.id }) }}">Back to Schedule</a>
        </div>
    </form>
</div>
{% endblock %}
