{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ appname }} - {{ position.area.name }} - {{ position.name }} - Schedule for {{ schedulePeriod }}{% endblock %}
{% if resolution == "15 mins" %}
{% set sectiondiv = 1 %}
{% set sectionlen = 95 %}
{% set next_section = "+15 minutes" %}
{% elseif resolution == "30 mins" %}
{% set sectiondiv = 2 %}
{% set sectionlen = 47 %}
{% set next_section = "+30 minutes" %}
{% else %}
{% set sectiondiv = 4 %}
{% set sectionlen = 23 %}
{% set next_section = "+1 hour" %}
{% endif %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ position.area.name }} - {{ position.name }} schedule for {{ schedulePeriod }}</h3>
    <form action="{{ path('position_schedule_delete', { 'spid': schedulePeriod.id, 'pid': position.id }) }}" method="post">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="btn-group-header btn-group header-control">
        <a class="btn" href="{{ path('position_schedule_edit', { 'spid': schedulePeriod.id, 'pid': position.id }) }}"><i class="icon-pencil"></i> Edit</a>
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
    </div>
    {% endif %}
    </form>
    <hr>
    <form id="timeresolution" class="form-inline inline" action="{{ path('position_schedule_view', { 'spid': schedulePeriod.id, 'pid': position.id }) }}" method="post">
        {% include 'OpenSkedgeBundle:ModularBlocks:timeresolution.html.twig' %}
    </form>
    <table class="table table-condensed table-bordered schedule-table">
        <thead>
            <tr>
                <th></th>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
    {% for i in 0..sectionlen %}
            <tr>
                <td>{{ htime|date("g:i a") }}</td>
            {% for j in 0..6 %}
            <td>
    {% for schedule in schedules %}
    {% if schedule.position.id == position.id %}
        {% if schedule.week[j][i * sectiondiv] != '0' %}
                <div class="avail-user" style="background-color: {{ schedule.user.color }}">
                    <a href="{{ path('user_schedule_view', { 'uid': schedule.user.id, 'spid': schedulePeriod.id })}}" target="_blank">{{ schedule.user.name }}</a>
                </div>
        {% endif %}
    {% endif %}
    {% endfor %}
            </td>
            {% endfor %}{% set htime = htime|date_modify(next_section) %}
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
