{% extends 'OpenSkedgeBundle::base.html.twig' %}
{% block javascripts %}
{% if get_controller_name() == "dashboard" and get_action_name() == "index" %}
<script type="text/javascript" src="{{ asset('js/jquery.tickingclock.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#clockTime').tickingClock('{{ "now"|date("F j, Y H:i:s") }}');
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<header class="navbar navbar-masthead navbar-inverse navbar-static-top">
    <div class="navbar-inner navbar-inner-masthead">
        <div id="navbar-container" class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('dashboard') }}"><i class="branding-logo"></i> {{ app_brand_name() }}</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                  Logged in as <a href="{{ path('user') }}" class="navbar-link">{{ app.user.name }}</a>
                </p>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Actions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                      <li><a href="{{ path('my_schedules') }}"><i class="icon-calendar"></i> Schedules</a></li>
                      <li><a href="{{ path('user') }}"><i class="icon-user"></i> Profile</a></li>
                      {% if is_granted('ROLE_ADMIN') %}
                      <li><a href="{{ path('my_employees') }}"><i class="icon-hand-left"></i> Employees</a></li>
                      {% endif %}
                      <li><a href="{{ path('my_supervisors') }}"><i class="icon-eye-open"></i> Supervisors</a></li>
                      <li><a href="{{ path('my_colleagues') }}"><i class="icon-thumbs-up"></i> Colleagues</a></li>
                      <li><a href="{{ path('my_positions') }}"><i class="icon-th-list"></i> Positions</a></li>
                    </ul>
                  </li>
                  {% if is_granted('ROLE_ADMIN') %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Supervisor Actions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('areas') }}"><i class="icon-th-large"></i> Areas &amp; Positions</a></li>
                      <li><a href="{{ path('reports') }}"><i class="icon-file"></i> Reports</a></li>
                      <li><a href="{{ path('schedule_periods') }}"><i class="icon-calendar"></i> Schedule</a></li>
                      <li><a href="{{ path('users') }}"><i class="icon-user"></i> Users</a></li>
                    </ul>
                  </li>
                  {% endif %}
                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Actions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('app_settings_edit') }}"><i class="icon-wrench"></i> {{ app_brand_name() }} Settings</a></li>
                      <li><a href="{{ path('app_settings_ips') }}"><i class="icon-certificate"></i> IP Manifest</a></li>
                    </ul>
                  </li>
                  {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>

<div id="container" class="container-fluid">
  <div id="page-content-container" class="row-fluid page-content-container">
    <div class="span3">
      <div class="row-fluid">
        {% if get_controller_name() == "dashboard" and get_action_name() == 'index' %}
        {% include 'OpenSkedgeBundle:Dashboard:clockmodule.html.twig' %}
        {% endif %}
        <section id="sidebar" class="row-fluid">
          <nav class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">My Actions</li>
              <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
              <li><a href="{{ path('my_schedules') }}"><i class="icon-calendar"></i> Schedules</a></li>
              <li><a href="{{ path('user') }}"><i class="icon-user"></i> Profile</a></li>
              {% if is_granted('ROLE_ADMIN') %}
              <li><a href="{{ path('my_employees') }}"><i class="icon-hand-left"></i> Employees</a></li>
              {% endif %}
              <li><a href="{{ path('my_supervisors') }}"><i class="icon-eye-open"></i> Supervisors</a></li>
              <li><a href="{{ path('my_colleagues') }}"><i class="icon-thumbs-up"></i> Colleagues</a></li>
              <li><a href="{{ path('my_positions') }}"><i class="icon-th-list"></i> Positions</a></li>
              {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-header">Supervisor Actions</li>
              <li><a href="{{ path('areas') }}"><i class="icon-th-large"></i> Areas &amp; Positions</a></li>
              <li><a href="{{ path('reports') }}"><i class="icon-file"></i> Reports</a></li>
              <li><a href="{{ path('schedule_periods') }}"><i class="icon-calendar"></i> Schedule</a></li>
              <li><a href="{{ path('users') }}"><i class="icon-user"></i> Users</a></li>
              {% endif %}
              {% if is_granted('ROLE_SUPER_ADMIN') %}
              <li class="nav-header">Admin Actions</li>
              <li><a href="{{ path('app_settings_edit') }}"><i class="icon-wrench"></i> {{ app_brand_name() }} Settings</a></li>
              <li><a href="{{ path('app_settings_ips') }}"><i class="icon-certificate"></i> IP Manifest</a></li>
              {% endif %}
              {{ include('::links.html.twig', ignore_missing = true) }}
              <li class="nav-header">{{ app_brand_name() }}</li>
              <li><a href="{{ path('logout') }}"><i class="icon-off"></i> Logout</a></li>
            </ul>
          </nav><!--/.well -->
        </section><!--/span3-->
      </div>
    </div>
    <section id="modulecontent" class="span9">
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% for alert in alertTypeAvaillable %}
        {% if app.session.getFlashBag().has(alert) %}
            <div class="alert alert-{{ alert }}" >
                <button class="close" data-dismiss="alert">&times;</button>
                {% for alert in app.session.getFlashBag().get(alert) %}
                {{ alert }}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    {% block modulecontent %}
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="{{ path('dashboard') }}">My Schedule</a>
          </li>
          <li><a href="{{ path('dashboard_shifts') }}">My Shifts</a></li>
          <li><a href="{{ path('dashboard_shifts_past') }}">My Past Shifts</a></li>
          <li><a href="{{ path('dashboard_shifts_late') }}">My Late Shifts</a></li>
          <li><a href="{{ path('dashboard_shifts_missed') }}">My Missed Shifts</a></li>
          <li><a href="{{ path('dashboard_shifts_posted') }}">Posted Shifts</a></li>
          <li><a href="{{ path('dashboard_stats') }}">My Stats - <small class="text-error">(beta)</small></a></li>
        </ul>
        <div class="row-fluid">
          {% include 'OpenSkedgeBundle:Dashboard:schedulemodule.html.twig' %}
        </div>
    {% endblock %}
    </section><!--/span9-->
  </div><!--/row-->
  <hr>
</div><!--/.fluid-container-->
{% endblock %}
