{% extends 'OpenSkedgeBundle::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
{% if get_controller_name()|capitalize == "Dashboard" %}
<script type="text/javascript" src="{{ asset('js/tickingclock.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-scrolltofixed-min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
  setDate('{{ "now"|date("F j, Y H:i:s") }}');
  $('#clockmodule').scrollToFixed({
    marginTop: 10,
    offsets: true
  });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<header class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('dashboard') }}">{{ appname }}</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                  Logged in as <a href="{{ path('user') }}" class="navbar-link">{{ app.user.name }}</a>
                </p>
                <ul class="nav">
                  <li class="active"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>

<div class="container-fluid">
  <div class="row-fluid page-content-container">
    <section class="span3">
      <nav class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">My Actions</li>
          <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
          <li><a href="{{ path('my_schedules') }}">Schedules</a></li>
          <li><a href="{{ path('user') }}">Profile</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('user_employees') }}">Employees</a></li>
          {% endif %}
          <li><a href="{{ path('user_supervisors') }}">Supervisors</a></li>
          <li><a href="{{ path('user_colleagues') }}">Colleagues</a></li>
          <li><a href="{{ path('user_positions') }}">Positions</a></li>
          {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-header">Supervisor Actions</li>
          <li><a href="{{ path('areas') }}">Areas &amp; Positions</a></li>
          {#<li><a href="{{ path('reports') }}">Reports</a></li>#}
          <li><a href="{{ path('schedule_periods') }}">Schedule</a></li>
          <li><a href="{{ path('users') }}">Users</a></li>
          {% endif %}
          {{ include('::links.html.twig', ignore_missing = true) }}
          <li class="nav-header">{{ appname }}</li>
          <li><a href="{{ path('logout') }}">Logout</a></li>
        </ul>
      </nav><!--/.well -->
    </section><!--/span3-->
    <section class="moduleconent span9">
    {% block modulecontent %}
        <div class="row-fluid">
          {% include 'OpenSkedgeBundle:Dashboard:schedulemodule.html.twig' %}
          {% include 'OpenSkedgeBundle:Dashboard:clockmodule.html.twig' %}
        </div>
    {% endblock %}
    </section><!--/span9-->
  </div><!--/row-->
  <hr>
</div><!--/.fluid-container-->
{% endblock %}
