<div class="span8 well">
    {% if avail is defined and not avail is null %}
    <form class="form-inline inline" action="{{ path('dashboard') }}" method="post">
        <div class="control-group">
            <label class="control-label" for="schedulePeriod">Schedule for</label>
            <select name="schedulePeriod" onChange="this.form.submit();">
            {% for schedulePeriod in schedulePeriods %}
            <option value="{{ loop.index0 }}" {% if loop.index0 == selected %}selected{% endif %}>{{ schedulePeriod }}</option>
            {% endfor %}
            </select>
        </div>
    </form>
    {% include 'OpenSkedgeBundle:Schedule:userschedule.html.twig' %}
    {% else %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Sorry!</strong>
        No schedule(s) found for you in any current scheduling periods.
    </div>
    <div class="alert alert-block alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Hey, {{ app.user.name }}!</strong>
        <p>Did you create an <a href="{{ path('my_schedules') }}">availability schedule</a>? If you already did but you're still seeing this message, your supervisor(s) may not have scheduled you yet.</p>
    </div>
    {% endif %}
</div>
