{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/bootstrap.datepicker.js') }}"></script>
<script type="text/javascript">
$('#schedulePeriodStart').datepicker({ format: 'mm-dd-yyyy', autoclose: true });
$('#schedulePeriodEnd').datepicker({ format: 'mm-dd-yyyy', autoclose: true });
</script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('schedule_periods') }}">Schedule Periods</a> <span class="divider">/</span></li>
        <li><a href="{{ path('schedule_period_view', { 'id': entity.id }) }}">{{ entity }}</a> <span class="divider">/</span></li>
        <li class="active">Edit</li>
    </ul>
    <h3>Editing a Schedule Period</h3>
    <form action="{{ path('schedule_period_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}
        {{ form_label(edit_form.startTime) }}
        <div class="input-append date" id="schedulePeriodStart">
            {{ form_widget(edit_form.startTime) }}
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        {{ form_label(edit_form.endTime) }}
        <div class="input-append date" id="schedulePeriodEnd">
            {{ form_widget(edit_form.endTime) }}
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        {{ form_rest(edit_form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a class="btn" href="{{ path('schedule_period_view', { 'id': entity.id }) }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
