{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function () {
    $(".table-sortable").tablesorter({theme:'oskedge',widgets:["uitheme"],headerTemplate:'{content} {icon}',sortList:[[0,1],[1,1]],headers:{2:{sorter:false}}});
});
</script>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>Schedule Periods</h3>
    <a class="btn btn-primary header-control" href="{{ path('schedule_period_new') }}"><i class="icon-plus-sign icon-white"></i> Add Schedule Period</a>
    <table class="table table-condensed table-sortable">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.startTime|date('M-d-Y') }}</td>
                <td>{{ entity.endTime|date('M-d-Y') }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{ path('schedule_period_view', { 'id': entity.id }) }}"><i class="icon-eye-open icon-white"></i> View</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('schedule_period_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(paginator, 'twitter_bootstrap') }}
    </div>
</div>
{% endblock %}
