{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block modulecontent %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('schedule_periods') }}">Schedule Periods</a> <span class="divider">/</span></li>
        <li class="active">{{ entity }}</li>
    </ul>
    <h3>{{ entity }}</h3>
    <form action="{{ path('schedule_period_delete', { 'id': entity.id }) }}" method="post">
    <div class="btn-group header-control">
        <a class="btn" href="{{ path('schedule_period_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a>
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
    </div>
    </form>
    <div class="btn-group header-control">
        <a class="btn btn-primary" href="{{ path('position_schedule_select', { 'spid': entity.id }) }}"><i class="icon-calendar icon-white"></i> Edit Position Schedule</a>
    </div>
    <hr>
    <h4>Available Users</h4>
    {% if not avails is defined or avails is empty %}
    <div class="alert">
        <strong>Sorry!</strong> No available users were found for this schedule period.
    </div>
    {% else %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avail in avails %}
            <tr>
                <td>{{ avail.user.name }}</td>
                <td><a href="{{ path('user_view', { 'id': avail.user.id }) }}">{{ avail.user.username }}</a></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_schedule_view', { 'uid': avail.user.id, 'spid': entity.id }) }}"><i class="icon-eye-open icon-white"></i> View Schedule</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(paginator, 'twitter_bootstrap') }}
    </div>
    {% endif %}
</div>
{% endblock %}
