<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ app_brand_name() }} - {{ get_controller_name()|capitalize }} {% if get_action_name() != 'index' and get_action_name() != 'view' %}- {{ get_action_name()|capitalize }}{% endif %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/bootstrap-google.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/application.css') }}" rel="stylesheet" type="text/css" />
        {% spaceless %}{% block stylesheets %}{% endblock %}{% endspaceless %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
        <script src="{{ asset('js/jquery.tablesorter.widgets.min.js') }}"></script>
        <script src="{{ asset('js/application.js') }}"></script>
        {% spaceless %}{% block javascripts %}{% endblock %}{% endspaceless %}
        <footer>
            <div class="container-fluid">
                <p class="muted credit">Powered by <a href="http://www.openskedge.org"><i class="openskedge-logo-blue"></i>OpenSkedge</a> &middot; Copyright &copy; 2012-{{ "now"|date("Y") }} OpenSkedge contributors &middot; Licensed under the GNU GPL version 2 or later &middot; <a href="https://github.com/maxfierke/OpenSkedge/issues">Report a bug</a> <small class="muted pull-right text-right">{% if deploy_commit != null %}commit {{ deploy_commit }}{% endif %}</small><div class="clearfix"></div></p>
            </div>
        </footer>
    </body>
</html>
