{% extends 'FlexSchedBundle:Dashboard:index.html.twig' %}
{% block title %}{{ appname }} - Areas{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>Areas</h3>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('area_new') }}">Add Area</a>
    {% endif %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('area_view', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group">
                        <a class="btn btn-primary" href="#"><i class="icon-wrench icon-white"></i> Actions</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('area_view', { 'id': entity.id }) }}"><i class="icon-eye-open"></i> View</a></li>
                            <li><a href="{{ path('area_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('area_view', { 'id': entity.id }) }}"><i class="icon-eye-open icon-white"></i> View</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
