{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ appname }} - {{ userstitle }}{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ userstitle }}</h3>
    {% if entities is empty %}
    <hr>
    <div class="alert">
        <strong>Sorry!</strong> No positions were found.
    </div>
    {% else %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Area</th>
                <th>Position</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('area_view', { 'id': entity.area.id }) }}">{{ entity.area.name }}</td>
                <td><a href="{{ path('position_view', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('position_view', { 'id': entity.id }) }}"><i class="icon-eye-open icon-white"></i> View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(paginator, 'twitter_bootstrap') }}
    </div>
    {% endif %}
</div>
{% endblock %}

