{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ appname }} - {{ entity.area.name }} - {{ entity.name }}{% endblock %}
{% block modulecontent %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="{{ path('areas') }}">Areas &amp; Positions</a> <span class="divider">/</span></li>
        <li><a href="{{ path('area_view', { 'id': entity.area.id }) }}">{{ entity.area.name }}</a> <span class="divider">/</span></li>
        <li class="active">{{ entity.name }}</li>
    </ul>
    <h3>{{ entity.name }}</h3>
    {% if is_granted('ROLE_ADMIN') %}
    <form action="{{ path('position_delete', { 'id': entity.id }) }}" method="post">
    <div class="btn-group header-control">
        <a class="btn" href="{{ path('position_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a>
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
    </div>
    </form>
    {% endif %}
    <p>{{ entity.description }}</p>
    <hr>
    <h4>Schedule This Position</h4>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Schedule Period</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedulePeriod in schedulePeriods %}
            <tr>
                <td>{{ schedulePeriod }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn" href="{{ path('position_schedule_edit', { 'spid': schedulePeriod.id, 'pid': entity.id }) }}"><i class="icon-pencil"></i> Edit Schedule</a>
                        <a class="btn btn-primary" href="{{ path('position_schedule_view', { 'spid': schedulePeriod.id, 'pid': entity.id }) }}"><i class="icon-eye-open icon-white"></i> View Schedule</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(paginator, 'twitter_bootstrap') }}
    </div>
</div>
{% endblock %}
