{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ appname }} - {{ entity.area.name }} - {{ entity.name }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style type="text/css">
h3,
form,
#form {
    display: inline;
}
h3 {
    margin-right: 10px;
}
.btn-group {
    top: -4px;
}
</style>
{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>{{ entity.name }}</h3>
    {% if is_granted('ROLE_ADMIN') %}
    <form action="{{ path('position_delete', { 'id': entity.id }) }}" method="post">
    <div class="btn-group">
        <a class="btn" href="{{ path('position_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> Edit</a>
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
    </div>
    </form>
    {% endif %}
    <p>{{ entity.description }}</p>
    <hr>
</div>
{% endblock %}
